
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: #007686;
    overflow: hidden;
    color: white;
    padding: 10px;
}
.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    float: left;
}
.navbar a:hover {
    background-color: #ddd;
    color: rgb(0, 8, 255);
}
.logo-profile-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 10px;
}

.logo {
    width: 100px;  
    height: auto;
}

.profile {
    width: 100px;  
    height: auto;
    cursor: pointer; 
}

/* dropdown for profile options */
.dropdown {
    display: none; /*  hide unless profile clicked */
    position: absolute;
    top: 180px; /* dropdown loc under prof pic */
    right: 10px;
    background-color: #333;
    color: white;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.dropdown a, .dropdown button {
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
    border: none;
    background: none;
    text-align: left;
    width: 100%;
}

.dropdown a:hover, .dropdown button:hover {
    background-color: #444;
}

.dropdown button {
    background-color: red;
    border-radius: 5px;
}

.content {
    padding: 20px;
    flex-grow: 1; 
}
.footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
.top-left {
    position: absolute;
    top: 80px;
    left: 10px;
    width: 100px;  /*size tbd*/
    height: auto;
}

.top-right {
    position: absolute;
    top: 80px;
    right: 10px;
    width: 100px;  /*size tbd*/
    height: auto;
}
